<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @topic.name %>
</p>

<table>
  <tr>
    <th>Error</th>
    <th>Explanation</th>
    <th></th>
    <th></th>
  </tr>

<% @topic.errors.each do |error| %>
  <tr>
    <td><%= link_to error.name, error %></td>
    <td><%= error.explanation %></td>
    <td><%= link_to 'Edit', edit_error_path(error) %></td>
    <td><%= link_to 'Destroy', error, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
