<div class ="row">
  <div class ="seven columns centered">

  <h1>Listing errors</h1>

        <table>
          <tr>
            <th>Name</th>
            <th>Explanation</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @errors.each do |error| %>
          <tr>
            <td><%= link_to error.name, error %></td>
            <td><%= error.explanation %></td>
            <td><%= link_to 'Edit', edit_error_path(error) %></td>
            <td><%= link_to 'Destroy', error, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>

        <br />

        <%= link_to 'New Error', new_error_path %>
  </div>
</div>