<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @error.name %>
</p>

<p>
  <b>Description:</b>
  <%= @error.description %>
</p>

<table>
  <tr>
    <th>Solutions</th>
    <th></th>
    <th></th>
  </tr>
  <% @error.solutions.each do |solution| %>
    <tr>
      <td><%= solution.description %></td>
      <td><%= link_to 'Edit', "/errors/#{@error.id}/solutions/#{solution.id}/edit" %></td>
      <td><%= link_to 'Destroy', "/errors/#{@error.id}/solutions/#{solution.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Add Solution', new_error_solution_path(@error)%> 
<%= link_to 'Edit', edit_error_path(@error) %> |
<%= link_to 'Back', errors_path %>
